*{
  margin:0;
}
body{
  overflow-x:hidden;
}
.scroll-down header {
  transform: translate3d(0, -100%, 0);
  background: rgb(255, 255, 255);
  margin-top:0;
  position: fixed;
}


.scroll-up header {
  background:#0a3140af;
  filter: drop-shadow(0 -10px 20px rgb(170, 170, 170));
  position:fixed;
  padding:20px 0;
  margin-top:0;
  transform: translate3d(0, 0, 0);
}


.scroll-up header img{
  width:100px;
}


/* @media(min-width:992px){
  .scroll-up header {
    padding-top:0;
}
  .scroll-up header .menu ul li a{
    color:#000;
}
  .scroll-up header .menu ul li a:hover{
    color:#01996D;
}
  .scroll-up header .menu ul li:last-child a{
    background-color:#000;
    color:#fff;
}
  .scroll-up header .menu ul li:last-child a:hover{
    color:#01996D;
}
} */

.menu-is-open {
  overflow: hidden;


}

.menu-is-open header {
  filter: none;
}